body {
	z-index: -1;
	background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(LP_TELOS_Front_IG06.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 60%;
	background-color: #000000;
	background-attachment: fixed;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	cursor: url(cursor.png) 16 16, auto;
}

#parent{position: relative}
.red{background: url(https://gcdn.pbrd.co/images/MMrLGustjj2P.png); width:1920px; height:1080px; position: absolute; opacity:0,8;
}
.green{background: url(https://gcdn.pbrd.co/images/iMPClzrn7OkJ.png); width:1920px; height:1080px; position: absolute; opacity: 0.6;
}
.container{
	height: calc(100vh - 120px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.scrollingDiv {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
}
.text {
	height: 200px;
	width: 420px;
	background:url(7vqd.gif);
	background-size: 2000px 200px;
	font-size: 180px;
	font-family: Impact, Helvetica, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}


.button {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	background: url(7vqd.gif);
	background-size: 800px 80px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 55px;
	border: 3px solid white;
	font-weight: bolder;
	font-family: Impact, Helvetica, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	position: sticky;
}

.button2 {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	background: url(7vqd.gif);
	background-size: 600px 60px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 40px;
	border: 2px solid white;
	font-weight: bolder;
	font-family: Impact, Helvetica, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	position: absolute;
	top: 8px;
	right: 16px;
}
